@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply h-screen;
}

* {
   padding: 0;
   margin: 0;
   outline: 0;
   box-sizing: border-box;
}

body {
    background: #F7F6F4;
    height: 100%;
    /* background: blue; */
}
body #__next {
  border-top: 5px solid #8403B2;
}

body #__next .container  {
  margin: 0;
}

body #__next .container .content {
  font-weight: Bold;
  font-family: Merriweather;
  color: #544B4B;
  letter-spacing: 0rem;
}


body #__next .container .info {
  margin-top: 160px;
  width: 100%;
}

body #__next .info .description {
  width: 100%;
  font-weight: Bold;
  font-size: 30px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #000; 
}

body #__next .info .info-description {
  width: 100%;
  font-size: 19px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #000; 
}

body #__next .info .description .description-title {
  font-weight: Bold;
  font-family: Architects Daughter;
  letter-spacing: 0px;
  color: #8403B2;
}

body #__next .container .container-text {
  max-width: 470px;
  margin-right: 100px;
}

body #__next .container .inputContainer {
  margin-top: 5px;
  height: 50%;
  max-width: 500px;
}

body #__next .container .inputContainer .inputLabel{
  margin-top: 8px;
  font: 1.8rem Merriweather;
  letter-spacing: 0px;
  color: #544B4B;
}

body #__next .container .inputContainer .formButton {
  width: 100%;
  margin-top: 8px;
  background: #7D46DF 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 5px;
  font-family: Roboto;
  color: #FFFFFF;
  transition: opacity 1s;
}

@media (min-width: 375px) {
  body #__next .container .inputContainer {
    margin-top: 20px;
  }

  body #__next .container .inputContainer .formButton  {
    margin-bottom: 60px;
  }
}

@media (min-width: 360px) {
  body #__next .container .image {
    width: 16rem;
  }
}

@media (min-width: 411px) {
  body #__next .container .image {
    width: 18rem;
    margin-bottom: 22px;
  }
}

@media (max-width: 1023px) {
  body #__next .container {
    margin: 0 auto
  }
}

@media (max-width: 1023px) {
  body #__next .container .container-text {
    margin: 20px auto
  }

  body #__next .container .image-main {
    margin: auto
  }
}

@media (max-width: 1280px) {
  body #__next .image-header {
    margin-left: 39px
  }
}

body #__next .container .inputContainer .formButton:hover {
  opacity: 0.5;
}

body #__next .container .message {
  margin-top: 15px;
  height: 70px;
  background: #7D46DF;
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  font: 20px Roboto;
  color: #FFFFFF;
}

body #__next .container .message .message-content {
  width: 100%;
  height: 57px;
  background: transparent;
  padding: 5px;
  align-items: center;
  border: 2px solid #FFF;
  border-radius: 5px;
  font: 20px Roboto;
}

body #__next .container .content .content-title {
  font-weight: bold;
  font-family: Architects Daughter;
  font-size: 30px;
  letter-spacing: 0px;
  color: #8403B2;
}

input {
  width: 100%;
  background: #C9C9C9 0% 0% no-repeat padding-box;
  border: 0.5px solid #707070;
  border-radius: 5px;
  opacity: 1;
  padding-left: 16px;
  color: #3F4851;
  margin-top: 8px;
  text-align: center;
}

input:focus {
  outline: none !important;
  border:1px solid #3F4851;
}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3F4851;
  align-self: center;
}

body #__next .footer {
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #707070;
  margin-top: 30px;
  align-items: center;
  font: 16px Roboto;
  letter-spacing: 0px;
  color: #8403B2;
  position: relative;
  padding-right: 500px;
}

body #__next .footer-media {
  height: 153px;
  background: #F7F6F4;
  margin-top: 30px;
  padding-left: 40px;
  align-items: flex-start;
  font: 16px Roboto;
  letter-spacing: 0px;
  color: #8403B2;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}

body #__next .footer-media .image-container{
 width: 400px;
}
body #__next  .footer .footer-image{
  bottom: 100px;
  padding: 0;
  right: 20px;
  bottom: 60px;
  position: absolute;
}

